<html>
<head>
    <title> Index </title>
</head>
<body>
    Enter text here
    <form action="https://fathomless-sands-50399.herokuapp.com/search_process/" method="get">
        <input type = "text" name = "key"><br>
        <input type = "submit">
    </form>
    <br>
    <a href = "https://fathomless-sands-50399.herokuapp.com/clear/">clear</a><br>
    <a href = "https://fathomless-sands-50399.herokuapp.com/index/">index</a> <br>
    <a href = "https://fathomless-sands-50399.herokuapp.com/search/">search</a>
</body>
</html>